.venv/
logs/
__pycache__
Langchain/workflow/chroma_data/
Langchain/workflow/jupyter-workflow/.env
Langchain/workflow/jupyter-workflow/train.pdf
Langchain/workflow/jupyter-workflow/.ipynb_checkpoints/
